<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Hodor</mat-card-title>
    <mat-card-subtitle>Hodor Enthusiast</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://i0.kym-cdn.com/entries/icons/facebook/000/015/238/hodor.jpg" alt="Hodor">
  <mat-card-content>
    <p>
      Hodor. Hodor hodor... Hodor hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor?! Hodor, hodor. Hodor. Hodor, hodor - hodor hodor! Hodor, hodor, hodor. Hodor hodor hodor. Hodor. Hodor hodor - hodor... Hodor hodor hodor hodor; hodor hodor? Hodor. Hodor HODOR hodor, hodor hodor... Hodor ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>HODOR!</button>
    <button mat-button>HODOR!!!!</button>
  </mat-card-actions>
</mat-card>
