@using System.Web.Optimization
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="favicon link">
    <title>MMSE MVC App</title>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@(System.Configuration.ConfigurationManager.AppSettings["AppBase"])">


</head>
<body>
    <mmse-app></mmse-app>
    @if (System.Configuration.ConfigurationManager.AppSettings["ApplicationMode"] == "Development")
    {
        @*<script type="text/javascript" src="~/Scripts/Dev/inline.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Dev/polyfills.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Dev/styles.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Dev/scripts.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Dev/vendor.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Dev/main.bundle.js"></script>*@
        <script type="text/javascript" src="~/Scripts/Dev/runtime.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/polyfills.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/styles.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/vendor.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/main.js"></script>



    }
    else
    {
        @*<script type="text/javascript" src="~/Scripts/Prod/inline.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Prod/polyfills.bundle.js"></script>
            <script type="text/javascript" src="~/Scripts/Prod/main.bundle.js"></script>*@
        <script type="text/javascript" src="~/Scripts/Dev/runtime.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/polyfills.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/styles.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/vendor.js"></script>
        <script type="text/javascript" src="~/Scripts/Dev/main.js"></script>

    }
</body>
</html>
