<h3>Snackbar</h3>
<mat-form-field>
  <input matInput value="Your changes have been updated." placeholder="Message" #message>
</mat-form-field>

<mat-form-field>
  <input matInput value="Dismiss" placeholder="Action" #action>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Class" #class>
    <mat-option value ="">Default</mat-option>
    <mat-option value="mat-success">Success</mat-option>
    <mat-option value="mat-warning">Warning</mat-option>
    <mat-option value="mat-danger">Danger</mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="openSnackBar(message.value, action.value, class.value)">Show Snack-Bar</button>
