<mat-card class="aboutPage">
  <div>
    <mat-card-header class="mmseTitle">
      <mat-card-title>
        <h1>Brandi</h1>
      </mat-card-title>
      <mat-card-subtitle><h2>Grad info</h2></mat-card-subtitle>
      <img mat-card-avatar class="aboutImg" src="https://beta.kittybattles.io/assets/ArcticIcon.svg" alt="image">
    </mat-card-header>
  </div>
  <mat-card-content>
    <p>Ipsum text provided by <a href="https://pirateipsum.me/" target="_blank"> Pirate Ipsum</a></p>
    <p>
      Broadside tack Letter of Marque clipper execution dock lugger hang the jib loaded to the gunwalls Cat o'nine tails come about jib parrel.
      Trysail yawl rope's end wherry Arr loot spanker draught dead men tell no tales hearties spirits killick. Nipperkin knave reef mutiny killick
      lass careen no prey, no pay chase galleon Admiral of the Black pirate. Gabion jib crack Jennys tea cup American Main piracy scallywag boom rope's
      end ahoy Sea Legs keel fire ship. Clap of thunder gangplank lugger Chain Shot lad carouser swab driver cog splice the main brace fire ship Jack Tar.
      Killick hogshead list pillage Davy Jones' Locker fathom boom coxswain run a shot across the bow skysail black spot mizzenmast.
    </p>
    <!--<mat-card-actions>
      <div fxFlex="35%"></div>
      <button mat-raised-button color="accent" fxFlex="30%">
        CONNECT TO SPOTIFY
      </button>
    </mat-card-actions>-->
  </mat-card-content>
</mat-card>


<mat-card class="aboutPage">
  <div>
    <mat-card-header class="mmseTitle">
      <mat-card-title>
        <h1>Candi</h1>
      </mat-card-title>
      <mat-card-subtitle><h2>Grad info</h2></mat-card-subtitle>
      <img mat-card-avatar class="aboutImg" src="https://beta.kittybattles.io/assets/ArcticIcon.svg" alt="image">
    </mat-card-header>
  </div>
  <mat-card-content>
    <p>Ipsum text provided by <a href="https://pirateipsum.me/" target="_blank"> Pirate Ipsum</a></p>
    <p>
      Broadside tack Letter of Marque clipper execution dock lugger hang the jib loaded to the gunwalls Cat o'nine tails come about jib parrel.
      Trysail yawl rope's end wherry Arr loot spanker draught dead men tell no tales hearties spirits killick. Nipperkin knave reef mutiny killick
      lass careen no prey, no pay chase galleon Admiral of the Black pirate. Gabion jib crack Jennys tea cup American Main piracy scallywag boom rope's
      end ahoy Sea Legs keel fire ship. Clap of thunder gangplank lugger Chain Shot lad carouser swab driver cog splice the main brace fire ship Jack Tar.
      Killick hogshead list pillage Davy Jones' Locker fathom boom coxswain run a shot across the bow skysail black spot mizzenmast.
    </p>
    <!--<mat-card-actions>
      <div fxFlex="35%"></div>
      <button mat-raised-button color="accent" fxFlex="30%">
        CONNECT TO SPOTIFY
      </button>
    </mat-card-actions>-->
  </mat-card-content>
</mat-card>


<mat-card class="aboutPage">
  <div>
    <mat-card-header class="mmseTitle">
      <mat-card-title>
        <h1>Jackie</h1>
      </mat-card-title>
      <mat-card-subtitle><h2>Grad info</h2></mat-card-subtitle>
      <img mat-card-avatar class="aboutImg" src="https://beta.kittybattles.io/assets/ArcticIcon.svg" alt="image">
    </mat-card-header>
  </div>
  <mat-card-content>
    <p>Ipsum text provided by <a href="https://pirateipsum.me/" target="_blank"> Pirate Ipsum</a></p>
    <p>
      Broadside tack Letter of Marque clipper execution dock lugger hang the jib loaded to the gunwalls Cat o'nine tails come about jib parrel.
      Trysail yawl rope's end wherry Arr loot spanker draught dead men tell no tales hearties spirits killick. Nipperkin knave reef mutiny killick
      lass careen no prey, no pay chase galleon Admiral of the Black pirate. Gabion jib crack Jennys tea cup American Main piracy scallywag boom rope's
      end ahoy Sea Legs keel fire ship. Clap of thunder gangplank lugger Chain Shot lad carouser swab driver cog splice the main brace fire ship Jack Tar.
      Killick hogshead list pillage Davy Jones' Locker fathom boom coxswain run a shot across the bow skysail black spot mizzenmast.
    </p>
    <!--<mat-card-actions>
      <div fxFlex="35%"></div>
      <button mat-raised-button color="accent" fxFlex="30%">
        CONNECT TO SPOTIFY
      </button>
    </mat-card-actions>-->
  </mat-card-content>
</mat-card>


<mat-card class="aboutPage">
  <div>
    <mat-card-header class="mmseTitle">
      <mat-card-title>
        <h1>Tyler</h1>
      </mat-card-title>
      <mat-card-subtitle><h2>Grad info</h2></mat-card-subtitle>
      <img mat-card-avatar class="aboutImg" src="https://beta.kittybattles.io/assets/ArcticIcon.svg" alt="image">
    </mat-card-header>
  </div>
  <mat-card-content>
    <p>Ipsum text provided by <a href="https://pirateipsum.me/" target="_blank"> Pirate Ipsum</a></p>
    <p>
      Broadside tack Letter of Marque clipper execution dock lugger hang the jib loaded to the gunwalls Cat o'nine tails come about jib parrel.
      Trysail yawl rope's end wherry Arr loot spanker draught dead men tell no tales hearties spirits killick. Nipperkin knave reef mutiny killick
      lass careen no prey, no pay chase galleon Admiral of the Black pirate. Gabion jib crack Jennys tea cup American Main piracy scallywag boom rope's
      end ahoy Sea Legs keel fire ship. Clap of thunder gangplank lugger Chain Shot lad carouser swab driver cog splice the main brace fire ship Jack Tar.
      Killick hogshead list pillage Davy Jones' Locker fathom boom coxswain run a shot across the bow skysail black spot mizzenmast.
    </p>
    <!--<mat-card-actions>
      <div fxFlex="35%"></div>
      <button mat-raised-button color="accent" fxFlex="30%">
        CONNECT TO SPOTIFY
      </button>
    </mat-card-actions>-->
  </mat-card-content>
</mat-card>

