<div header class="header">
  <mat-toolbar color="primary">
    <img mat-card-avatar src="https://beta.kittybattles.io/assets/SpaceIcon.svg" alt="image">
    <div class="padding-left-10">
      <span class="padding-right-10">Music Meaning Search Engine</span>
    </div>
    <span nav-top>
      <a mat-button [routerLink]="['/home']">Home</a>
      <a mat-button [routerLink]="['/playlist']">Playlist Search</a>
      <a mat-button [routerLink]="['/about']">About The Team</a>
    </span>
  </mat-toolbar>
</div>
<div app-content class="appContent">
  <router-outlet></router-outlet>
</div>
<div footer>
  <mat-toolbar color="primary"></mat-toolbar>
</div>


