<h3>Basic Buttons</h3>
<div class="button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
</div>

<h3>Raised Buttons</h3>
<div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
</div>

<h3>Icon Buttons</h3>
<div class="button-row">
  <button mat-icon-button>
    <i class="fab fa-2x fa-pied-piper-pp"></i>
  </button>
  <button mat-icon-button color="primary">
    <i class="fab fa-2x fa-pied-piper-pp"></i>
  </button>
  <button mat-icon-button color="accent">
    <i class="fab fa-2x fa-pied-piper-pp"></i>
  </button>
  <button mat-icon-button color="warn">
    <i class="fab fa-2x fa-pied-piper-pp"></i>
  </button>
</div>

<h3>Fab Buttons</h3>
<div class="button-row">
  <button mat-fab color="primary"><i class="fab fa-2x fa-pied-piper-alt"></i></button>
  <button mat-fab color="accent"><i class="fab fa-2x fa-pied-piper-alt"></i></button>
  <button mat-fab color="warn"><i class="fab fa-2x fa-pied-piper-alt"></i></button>

</div>

<h3>Mini Fab Buttons</h3>
<div class="button-row">
  <button mat-mini-fab color="primary"><i class="fab fa-lg fa-pied-piper"></i></button>
  <button mat-mini-fab color="accent"><i class="fab fa-lg fa-pied-piper"></i></button>
  <button mat-mini-fab color="warn"><i class="fab fa-lg fa-pied-piper"></i></button>
</div>
