<div fxLayout fxLayout.xs="column" fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <mat-card class="mat-card displayFlex">
    <div class="flexCol">
      <h2 class="flexCol" color="primary">MUSIC MEANING SEARCH ENGINE</h2>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Search by mood</mat-label> <!-- This text/padding needs to be adjusted to be viewable-->
          <input matInput>
        </mat-form-field>
      </form>
      <mat-button-toggle-group>
        <button mat-raised-button color="accent">BUTTON</button>
        <button mat-raised-button color="primary">BUTTON</button>
      </mat-button-toggle-group>
    </div>
    <div class="flexCol">
      <h2 class="marginFix">Sup?!</h2>
      <p>
        Details, details
      </p>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
