  <mat-card class="mainPage">
    <div>
      <mat-card-header class="mmseTitle">
        <mat-card-title>
        <h1> MUSIC MEANING SEARCH ENGINE</h1>
        </mat-card-title>
      </mat-card-header>
    </div>
  <mat-card-content>
    <p>Ipsum text provided by <a href="https://pirateipsum.me/" target="_blank"> Pirate Ipsum</a></p>
    <p>
      Broadside tack Letter of Marque clipper execution dock lugger hang the jib loaded to the gunwalls Cat o'nine tails come about jib parrel.
      Trysail yawl rope's end wherry Arr loot spanker draught dead men tell no tales hearties spirits killick. Nipperkin knave reef mutiny killick
      lass careen no prey, no pay chase galleon Admiral of the Black pirate. Gabion jib crack Jennys tea cup American Main piracy scallywag boom rope's
      end ahoy Sea Legs keel fire ship. Clap of thunder gangplank lugger Chain Shot lad carouser swab driver cog splice the main brace fire ship Jack Tar.
      Killick hogshead list pillage Davy Jones' Locker fathom boom coxswain run a shot across the bow skysail black spot mizzenmast.
    </p><p>
      Handsomely grog reef Corsair gaff Buccaneer capstan log yardarm prow holystone spyglass. Strike colors Jack Tar Admiral of the Black furl driver
      schooner jib Letter of Marque keelhaul hang the jib me holystone. Yard topsail quarter lookout hogshead hang the jib warp Jolly Roger sheet spirits
      lass splice the main brace. Plate Fleet no prey, no pay fore Nelsons folly pirate sheet stern interloper rope's end aye handsomely brigantine. Cackle
      fruit Sail ho bilge rat interloper mizzenmast carouser doubloon spyglass yawl draft dead men tell no tales bucko. Grog heave down yardarm jolly boat
      Brethren of the Coast log jack lookout pillage belaying pin carouser list.
    </p><p>
      Square-rigged Jack Tar execution dock Letter of Marque gangplank quarterdeck belaying pin pirate doubloon clipper case shot yawl. Stern rum Pieces of
      Eight draught Corsair long clothes Brethren of the Coast rigging trysail code of conduct lateen sail rutters. Long clothes rutters loaded to the gunwalls
      salmagundi transom Admiral of the Black cackle fruit Chain Shot code of conduct topsail piracy splice the main brace. Boom interloper marooned pressgang
      mizzen measured fer yer chains carouser hulk reef sails knave long boat mizzenmast. Me walk the plank strike colors league Davy Jones' Locker lugsail
      keelhaul capstan Buccaneer hempen halter Sink me hulk. Spike Plate Fleet ye cutlass port smartly gabion parley me run a shot across the bow chandler bounty.
    </p><p>
      Pirate Round Plate Fleet plunder chase quarterdeck lateen sail poop deck Letter of Marque schooner matey Davy Jones' Locker scuttle. Jack salmagundi lugsail
      Barbary Coast mizzen Sink me coffer bilge water piracy Yellow Jack hulk Corsair. Tack port walk the plank wherry lookout provost warp ho line brig hearties
      lugger. Hogshead deadlights rum Yellow Jack poop deck log six pounders landlubber or just lubber lateen sail pressgang Blimey ballast. Maroon galleon barque
      spanker killick Brethren of the Coast Admiral of the Black driver rigging Jolly Roger six pounders mizzenmast. Aye heave to gangplank Blimey gangway pink
      gibbet Pirate Round splice the main brace yard yardarm schooner.
    </p>

    <mat-card-actions>
      <div fxFlex="35%"></div>
      <button mat-raised-button color="accent" fxFlex="30%">
        CONNECT TO SPOTIFY
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

