@import 'variables';



//CSS Nerd Stuff Goes Here
main{
  width:1024px !important;
  display:block !important;
  margin: 0 auto;
}

.displayFlex{
  display: flex !important;
}

.marginFix{
  margin-bottom: .83em !important;
  margin-top: 0 !important;
}

.flexCol {
  flex: 1;
  margin: 0 5px;
}

